<ul class="pagination">
    <li class="page-item {% if not page_obj.has_previous %}disable{% endif %}">
        <a 
            {% if page_obj.has_previous %} 
                class="page-link" 
                href="?page={{ page_obj.previous_page_number }}"
                style="background-color: dodgerblue; color: #fff;"
            {% else %}
                style="background-color: rgb(52, 85, 107); cursor:not-allowed;"
                class="text-secondary page-link"
            {% endif %} 
            aria-label="Previous"
        >
            <span aria-hidden="true">&lt;&lt;Prev</span>
        </a>
    </li>
    {% for page_num in paginator.page_range %}
        {% if page_obj.number == page_num %}
            <li class="page-item active">
                <span class="page-link border-0 text-white">
                    {{ page_num }}
                </span>            
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link border-0 text-white" href="?page={{page_num}}">{{page_num}}</a>
            </li>
        {% endif %} 
    {% endfor %}
    <li 
        class="page-item {% if not page_obj.has_next %} disabled {% endif %}"
        {% if not page_obj.has_next %}
            style="cursor:not-allowed;"
        {% endif %}
    >
        <a  
            {% if page_obj.has_next %} 
                class="page-link"
                style="background-color: dodgerblue; color: #fff;"    
                href="?page={{ page_obj.next_page_number }}" 
            {% else %}
                class="page-link text-secondary"
                style="background-color: rgb(52, 85, 107);"
            {% endif %}
            aria-label="Next"
        >
            <span aria-hidden="true">Next&gt;&gt; </span>
        </a>
    </li>
</ul>
