{% extends 'base.html' %}

{% block title %}
Delete {{ object }}
{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <form class="form-signin col-sm-10 border border-danger rounded" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Are you sure you want to delete "{{ object }}"?</h1>
            <div class="form-group d-flex justify-content-center">
                <a 
                    href="{{ object.get_absolute_url }}"
                    class="btn mx-1 btn-outline-primary mb-1"
                >
                    No, Mistake
                </a>
                <button 
                    class="btn mx-1 btn-danger mb-1" 
                    type="submit"
                >
                    Delete
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
